@page
@model Website.Pages.AboutModel
@{
    ViewData["Title"] = "About This Site";
}
<section id="main">
    <h1>Why this website exists:</h1>
    <p>
        This website was created for a school assignment to demonstrate knowledge of creating websites with Razor Pages in VS Code.
        This website is not an actual store. With that being said, don't actually try to buy anything, because it's not going to work.
        All of the "products" advertised on this site are just for show, and don't actually exist. Now that we've cleared that up,
        you are more than welcome to have fun looking around and exploring this website. Enjoy your stay.
    </p>
</section>
