@page
@model IndexModel
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to My Web Store</h1>
    <p>This is not an actual store. See our <a href="/About">About</a> page for more information.</p>
    <p>Check out our <a href="/Catalog">Products</a> page if you would like to buy something.</p>
    <p font-size: 8px;>Just remember you can't actually buy anything from this site.</p>
</div>
