@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>As described in the <a href="/About">About</a> page, This website was created as an example site for an assignment. Therefore,
it doesn't exactly have a privacy policy. However, this website doesn't track your activity or use cookies, since invasion of
privacy wasn't a requirement for this school project.</p>
